body{
	background-color: gray;
	color: black;
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 100px 450px;
	height: 300px;
	width: 400px;	
}
img{
	width: 100px;
	height: 100px;
}
.header{
	text-align: center;
	
}
